<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sinatra with Javascript</title>
    <link rel="stylesheet" href="/stylesheets/foundation.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/normalize.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/app.css" />
  </head>
  <body>
    <div class="row">
      <div class="column">
        <%= yield %>
      </div>
    </div>
    <script src="/javascripts/jquery-1.11.3.min.js"></script>
    <script src="/javascripts/app.js"></script>
  </body>
</html>
